/* common css */
body{
    margin: 0;
    padding: 0;
    max-width: 1350px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
p{
   color:#a9a2b0;
   font-size: 13px;
}
h2{
    font-size: 35px;
    margin: 0;
    font-weight: 700; 
    color: linear-gradient(180deg, #F948B2 , #8758F1);


}
.btn-primary{
    background-color: #ff42a5;
    padding: 15px 28px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
}
.btn-2{
    background-color: #4ec5f7;
}
/* header area style */
.menu-area{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    height: 30px;
}
h4{
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 10px;
}
h4 .logo-head{
    color: #F948B2;
}
nav ul{
    display: flex;
}
nav ul li{
   list-style: none;
   padding: 13px 25px;
   border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    color:#a9a2b0;
    
}
.youtube, .tiktok{
    font-size: 22px;
    padding: 0 5px;
}
.youtube{
    color: red;
    
}
.tiktok{
    color: #000;
    
}
nav ul li:hover{
    background-color: #e7e6e9;
}
/* banner area css */
.banner-area{
    height: 80vh;
}
.banner-left, .banner-right{
    width: 50%;
}
.banner-left{
    background-image: url("./images/Group\ 14.png");
}
.banner-content{
    display: flex;
    align-items: center;
}
.banner-right img{
    width: 98%;
}
h3{
    color: #0B0223;
    font-size: 33px;    
    font-weight: 600;    
    text-transform: uppercase; 
    margin-bottom: 5px;
}
h1{
    
    
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase; 
    color:  #F948B2; 
    margin: 5px 0;
}

/* career area start */
.careear-area{
    background-color: #ff42a5;
    color: #fff;
    padding: 50px 0;
}
.career-content{
    display: flex;
   
}
.career-left h2{
    text-transform: capitalize;
}
.career-left p{
    color: #fff;
   
    font-size: 13px;
    line-height: 1.5;
}
.career-left ul{
    padding: 0;
}
.career-left ul li{
    list-style: none;
    font-size: 12px;
    margin: 15px 0;
}
.right-ul{
    text-align: right;
}
.list-items{
    display: flex;
    justify-content: space-between;
}


.career-left, .career-right{
    width: 50%;
}
.career-right img{
    width: 100%;
    height: 100%;
}
.btn-career{
    background-color: #fff;
    color: #ff42a5 ;
}
/* gamer area css */
.gamer-content{
    display: flex;
    align-items: center;
    margin: 50px 0;
    padding-bottom: 50px;
    justify-content: space-between;
}
.gamer-left {
    width: 55%;
}
.gamer-right{
    width: 35%;
}
.gamer-left img{
    width: 100%;
}
.gamer-right{
    text-align: right;
}



/* video area css */
.video-content{
    text-align: center;
    margin: auto;
}
.video-content h2 span{
    color: #F948B2;
}
.video-content .boxes{
    display: flex;
    margin: 20px 0;

}
.video-content .boxes .box{
    width: 25%;
    padding: 10px;
   
}
.video-content .boxes .box img{
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
}
.video-content .boxes .box p{
    text-align: left;
}
.video-content .boxes .box img:hover{
    border: 3px solid #F948B2;
}

/* play game area css */
.play-game{
    margin: 120px 0;
}
.play-content{
    display: flex;
    align-items: center;
}
.play-left{
    width: 50%;
}
.play-right{
    width: 50%;
}
.play-left .main-img img{
    width: 85%;
}
.play-left{
    position: relative;
}
.little-img img{
    width: 220px;
}
.play-left .little-img{
    position: absolute;
    top:50%;
    left: 65%;
}

.play-cont{
    width: 65%;
    margin-left: 20%;
}
.play-cont h2 span{
    color: #F948B2;
}




/* games name area css */

.games-name .boxes{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.games-name .boxes .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    box-sizing: border-box;
    padding: 0 10px;
     border: 2px solid transparent;
}
.games-name .boxes .box img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
   
}
.gamer-right h4{
    font-size: 22px;
    color: #534c64;
    margin: 0;
}
.gamer-p{
    font-size: 16px;
     color: #534c64;
}
.games-name .boxes .box:hover{
    border: 2px solid #F948B2;
    border-radius: 35px;
    color: #F948B2;
}



/* footer area start */
.games-name{
    margin: 80px 20px;
}
.footer-area{
    text-align: center;
    margin: auto;
    background-color: #0b0223;
    padding: 50px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo h4{
    color: #fff;
}


.footer-logo img{
    width: 50px;
    height: 30px;
}

.footer-area ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
}
.footer-area ul li{
   list-style: none;
   padding: 0 20px;
}
.footer-area ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;

}
.icons li a i{
    font-size: 30px;
}

.tf-menu{
font-weight: bold;
}
.footer-area p{
    font-size: 12px;
    text-align: center;
    
}


